<footer class="bg-body-tertiary bg-dark text-white text-center p-4" data-bs-theme="dark">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Contact Us</h5>
        <p><i class="fas fa-envelope"></i> Email: info@example.com</p>
        <p><i class="fas fa-phone"></i> Phone: +91 1234567890</p>
      </div>
      <div class="col-md-4">
        <h5>Follow Us</h5>
        <p>
          <a href="http://www.twitter.com" class="text-white text-decoration-none" target="_blank"
            ><i class="fab fa-twitter"></i> Twitter</a
          >
        </p>
        <p>
          <a href="http://www.facebook.com" class="text-white text-decoration-none" target="_blank"
            ><i class="fab fa-facebook"></i> Facebook</a
          >
        </p>
        <p>
          <a href="http://www.instagram.com" class="text-white text-decoration-none" target="_blank"
            ><i class="fab fa-instagram"></i> Instagram</a
          >
        </p>
      </div>
      <div class="col-md-4">
        <h5>Address</h5>
        <p><i class="fas fa-map-marker-alt"></i> 123 Street, Delhi, India</p>
      </div>
    </div>

    <hr class="my-4" />

    <p>&copy; 2023 Techbumps. All rights reserved.</p>
  </div>
</footer>
