<nav
  class="navbar navbar-expand-lg bg-body-tertiary bg-dark border-bottom border-body sticky-top"
  data-bs-theme="dark"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="/ ">
      <img
        src="/views/common/logo.png"
        alt="Logo"
        width="40"
        height="35"
        class="d-inline-block align-text-top me-2"
      />
      Issue Tracker</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <!-- <form class="d-flex ms-auto" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search Project..."
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->

      <ul class="navbar-nav ms-auto mx-1">
        <li class="nav-item">
          <a class="nav-link active" href="/ ">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/create-project">Create Project</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/about">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
